---
import Layout from '../../layouts/Layout.astro';
import Description from '../../components/Patterns/Description.astro';
---

<Layout>
  <main class="container">
    <h1>Центрирование страницы</h1>

    <Description
      description="Этот паттерн позволяет центрировать контент на странице с помощью CSS, используя функцию `max()` для создания адаптивных отступов."
    />

  </main>
</Layout>

<style>
  .container {
    margin-inline: max(20px, (100% - 1200px) / 2);
  }
</style>
